<div mat-dialog-title>
  <h1>Inventory Form</h1>
</div>

<form [formGroup]="invForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <input matInput formControlName="category">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Input</mat-label>
        <input matInput formControlName="input">
      </mat-form-field>
    </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Qty</mat-label>
          <input matInput type="number" formControlName="quantity">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Date Purchase</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="datePurchase">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div> 
  </div>
  <div mat-dialog-actions class="actions">
    <button mat-raised-button color="accent">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </div>
</form>